@keyframes rotate {
    0% {
        transform: rotate($cero);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes traslate {
    0% {
        transform: translateX(150px);
    }
    100% {
        transform: translateX($cero);
    }
}

.tuerca {
    &__interna,  &__externa{
        animation: 3s rotate infinite linear;
        transform-origin: 80% 80%;
    }
}

.etiqueta {
    animation: 1.9s traslate infinite linear alternate;
}
